.right {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 8vw;
    height: 100%;
}

.quote {
    width: 500px;
    font-size: 20px;
    color: white;
    font-family: "Consolas", "等线", monospace, sans-serif;
    text-align: center;

    background: rgba(30, 40, 50, 0.35);
    border-radius: 8px;
    box-shadow: 8px 8px 10px rgba(0, 0, 0, 0.2);

    overflow: hidden;
    transition: transform 0.3s ease,
                height 0.5s ease,
                padding 0.5s ease;
}
.quote:hover {
    transform: scale(1.05);
    box-shadow: 8px 8px 10px rgba(0, 0, 0, 0.18);
    background: rgba(30, 40, 50, 0.45);
}
.author {
    text-align: right;
    margin-right: 25px;
}

.welcome {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    font-family: "等线", sans-serif;
    padding: 20px;
    box-sizing: border-box;
    width: 500px;
    font-size: 20px;
    color: white;
    text-align: center;
    cursor: default;

    background: rgba(30, 40, 50, 0.35);
    border-radius: 8px;
    box-shadow: 8px 8px 10px rgba(0, 0, 0, 0.2);

    min-height: 200px;

    transition: transform 0.3s ease;
}
.welcome:hover {
    transform: scale(1.05);
    box-shadow: 8px 8px 10px rgba(0, 0, 0, 0.18);
    background: rgba(30, 40, 50, 0.45);
}

.datetime-container {
    text-align: center;
    margin: 5px 0;
    line-height: 1.6;
    color: #fff;
    font-family: "Consolas", "等线", monospace, sans-serif;
    font-weight: 400;
}
.datetime-container #real-time {
    display: inline-block;
    margin-top: 1px;
    font-weight: normal;
}

.time-container {
    color: #fff;
    margin: 2px 0;
    font-family: "Consolas", monospace;
    letter-spacing: 2px;
}

.traveler {
    font-family: "等线", sans-serif;
    text-align: center;
    font-size: 1.1em;
    color: #fff;
    margin: 10px 0;
}

.greeting-time {
    font-size: 2.2em;
    font-weight: bold;
    color: #fff;
    margin-bottom: 5px;
    margin-top: 8px;
    letter-spacing: 2px;
}

.weather {
    font-size: 1.2em;
    color: #fff;
    margin-top: 10px;
    margin-bottom: 12px;
    text-align: center;
    font-size: 0.8em;
    letter-spacing: 2px;
}

.saying, .author {
    opacity: 1;
    cursor: default;
    transition: opacity 0.5s ease;
}
.fade-out {
    opacity: 0;
}
.fade-in {
    opacity: 1;
}